@import "fonts/stylesheet.css";
<style type="text/css">
body,h1,h2{
	margin:0px;
	padding:0px;
}
h1{
	font-family:ravie;
	color:#E90C0C;
	font-size:36px;
	text-align:center;
	margin-left:105px;
}

h2{
	font-family:"Trebuchet MS";
	color:#333;
	margin-right:100px;
	font-size:24px;
	text-align:right;
	margin-top:-20px;
}
.acai  {
	color:#d027aa;
}
#siri {
  position: absolute;
  top: 10px;
  left: 90px;
}
#ticket{
  position: fixed;
  top: 295px;
  left: -40px;
  opacity: 0;
  filter: alpha(opacity=00); 
}
#ticket:hover{
  opacity: 1;
  filter: alpha(opacity=100); 
}

#recipiente{
  width: 800px;
  height: 766px;
  margin-left: 110px;
  border: 1px solid #d3d3d3;
  border-top: 0px;
  background: linear-gradient(#f6f1b2, #4599b2);
}
#bubles {
  position: absolute;
  top: 468px;
  left: 140px;
}

#fish {
  position: absolute;
  top: 656px;
  left: 74px;
}

#cardapio{
	font-family:verdana;
	color:#333;
	border: 1px solid #aac0ae;
	background-color:rgba(255,255,255,0.20);
	
	margin-left:154px;
	text-align:justify;
	margin-bottom:46px;		
}
h3{
	font-family:verdana;
	color:#333;
	font-size:18px;
	font-weight:bold;
}
li{
	list-style:none;
	overflow:hidden;
	padding:10px;
	position:relative;
}
li label{
   float:left;
   padding-right:10px;
}
li span{
   float:right;
   padding-left:10px;
}
#lateral h2 {
  transform: rotate(270deg);  
  position:absolute;
  bottom: 556px;
  left: 74px;
  color: #333;
  font-family: verdana;
  font-size: 48px;
}
#rodape{
	position:absolute;
	top:740px;
	left:786px;
}
</style>